<main class="qqqqq px-3 justify-content-center align-items-center" style="width: 100vw; height: 100vh">
  <h1>Аукцион автомобилей</h1>
  <p class="lead">Авто, автомобиль ― моторное транспортное средство для перевозки людей и грузов. Автотранспорт по объёмам перевозок занимает первое место в мире. В современном автомобиле 150—300 важных деталей, общее число составляющих достигает трёхсот. Любое авто передвигается по земле на четырёх колёсах. Вес легкового автомобиля не превышает 3 500 кг, выпускаются машины с закрытыми кузовами (седаны, лимузины, купе, хечбэки, универсалы, фургоны, микроавтобусы) и с кузовами, верх которых можно убрать (кабриолеты, родстеры, ландо, фаэтоны).
    Модели с высокими скоростными качествами называют спортивными. Автомобили для спортивных соревнований ― гоночные. Крупнейшие мировые производители авто: General Motors (США, Великобритания, Австралия,Германия), Volkswagen Group (Германия, Франция, Италия,Испания,Великобритания), Toyota (Япония, Hyundai Motor (Южная Корея), Ford (США), Renault-Nissan (Япония, Франция, Южная Корея, Румыния, Россия).</p>
  <p class="lead">Автомобиль это, пожалуй, единственный неодушевлённый предмет, к которому многие люди относятся как живому. Настолько живому, что о нём рассуждают и обсуждают его как нечто большее, чем просто кусок железа.</p>
  <p class="lead">«Нельзя относиться к автомобилю, как к человеку – автомобилю нужна любовь», — Вальтер Рёрль, немецкий автогонщик.</p>
  <p class="lead">
    <a href="<%= home_path %>" class="btn btn-lg btn-secondary fw-bold border-black bg-black"><%= t '.find' %></a>
  </p>
</main>